<h1>Edit Post Form</h1>

<%= form_for @post do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %><br>

    <label>Select a Blogger:</label><br>
    <%= f.collection_select :blogger_id, Blogger.all, :id, :name %><br>

    <label>Select a Destination:</label><br>
    <%= f.collection_select :destination_id, Destination.all, :id, :name %><br>

    <%= f.label :content %><br>
    <%= f.text_area :content %><br>

    <%= f.submit %>
<% end %>